.about-bg {
    background-image: url('./about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}

.who-bg {
    background-image: url('./we.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}